<h3>All Movies</h3>
<tr>
  <td *ngFor="let currentMovie of childMovieList"><a href="#"><img class="movie-thumbnail" src={{currentMovie.image}} alt={{currentMovie.title}}/></a></td>
</tr>

<tr>
  <td *ngFor="let currentMovie of childMovieList | completeness:thriller"><a href="#"><img class="movie-thumbnail" src={{currentMovie.image}} alt={{currentMovie.title}}/></a></td>
</tr>

<!-- additional lists below will be for each individual category, all movies falling into a particular category. I am trying to work with pipes and dictionaries to filter the data and show everything on the page at once.  Still working through the lesson and researching -->

<!-- <ul *ngFor="let movie of childMovieList">  -->
  <!--to test the functionality of adding an array for genre. this will be hidden later on-->
  <!-- <li>{{movie.title}}</li>
  <li>{{movie.rating}}</li>
  <li><span *ngFor="let type of movie.genre">{{type}}/</span></li>
</ul> -->
