<nav class="navbar sticky-top navbar-expand-sm navbar-dark bar">
  <a class="navbar-brand" id="logo" routerLink="/">NETFLIX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tv-list">TV Shows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="movie-list">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="originals">Originals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="recently-added">Recently Added</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="my-list">My List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <li class="nav-item">
        <a class="nav-link" routerLink="dvd-only">DVD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notifications">Notification Placeholder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile-manager">Profile Placeholder</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
