body {
  background-color: black;
  color: white;  /* this isn't updating the navbar for some reason */
}
.contain {
  position: relative;
}
.navbar-icon {
  height: 60px;
  width: 60px;
}
.media-thumbnail {
  height: 200px;
  width: 300px;
  margin: 3px;
}
.media-thumbnail:hover {
  height: 250px;
  width: 350px;
}
.media-hidden {
  display: none;
  color: white;
  font-family: sans-serif;
  list-style-type: none;
}
.media-thumbnail:hover + .media-hidden {
  display: block;
  text-align: left;
  position: absolute;
  bottom: 8px;
}
.footer {
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 100px;
}
.footer {
  color: grey;
  font-size: 13px;
}
.row p {
  width: 250px;
}
