body {
  background-color: black;
  color: white;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaDSHB41VZydCB8iwX8JomlfQ2DOGn4X6BCKq_LoBWzA8ADiWuJg");
  background-repeat: no-repeat;
  background-position: center; */
}
.media-thumbnail {
  height: 200px; /*should be 200, but for testing purposes making it bigger on the page*/
  width: 300px;
  margin: 3px;
}
